*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(32, 0, 44));
    align-items: center;
    justify-content: center;
    text-align: center;
}

h2{
    color: white;
}

.center{
    text-align: center;
    justify-content: center;
    align-items: center;
}

li{
    color: rgb(32, 32, 32);
}

form{
    margin: 100px;
}

form label{
    margin-top: 30px;
    font-size: 25px;
    color: rgb(32, 32, 32);
}

form input{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
}

.container{
    display: flex;
}

.card-form{
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
    width: 50%;
    background-color: rgb(23, 80, 185);
}

.card-form:hover{
    background-color: rgb(122, 193, 255);
    transition: 0.8s;
}

.card-products{
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
    width: 50%;
        background-color: rgb(23, 80, 185);
}

.card-products h2{
    margin: 50px;
}

.card-products:hover{
    background-color: rgb(122, 193, 255);
    transition: 0.8s;
}

.products{
    margin: 70px;
}